body
{
  font-family: Arial, sans-serif;
}

h2
{
  margin-top: -1em;
}

h3
{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#main-container
{
  display: flex;
}

#visualization
{
  width: 80%;
  height: 660px;
  border: 1px solid #ccc;
  background-color: #000;
}

#info-panel
{
  width: 20%;
  min-width: 240px;
  padding: 1rem;
  margin-right: 1rem;
  padding-right: 0;
  font-size: 13px;
}

#info-panel table
{
  border: 0;
}

#info-panel table th
{
  font-weight: normal;
  text-align: right;
}

#info-panel select
{
  min-width: 80px;
}

#time-control
{
  margin-top: 1rem;
  margin-bottom: 0.25em;
}

#time-control h4
{
  padding-left: 90px;
  margin-bottom: 0.25em;
}

.hidden
{
  display: none;
}

.instr
{
  text-align: right;
  font-size: 11px;
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.orb
{
  white-space: nowrap;
  border: 0;
}

.orb th
{
  font-weight: normal;
  text-align: right;
}
.orb .val
{
  font-family: monospace;
  font-size: 14px;
  line-height: 1.1;
  display: inline-block;
}

.desc
{
  font-size: 12px;
  margin-left: 0.5em;
  margin-right: 1.5em;
  position: absolute;
}

.loadsave
{
  float: right;
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
}

.stepbtn
{
  font-size: 8px;
}

.version
{
  font-size: 8px;
  color: #333;
}

.btnRow
{
  white-space: nowrap;
}

/* Modal styles */
.modal
{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content
{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 5px;
  border: 1px solid #888;
  width: 80%;
  max-width: 440px;
  white-space: nowrap;
}

.modal-content button
{
  margin-top: 10px;
  padding: 5px;
  min-width: 80px;
}

.modal-header
{
  background-color: #5AF;
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
}

.modal label
{
  min-width: 270px;
  display: inline-block;
  margin-left: 35px;
}

.modal input[type=radio]
{
  margin-top: 1em;
}

.modal input[type=number]
{
  width: 100px;
  text-align: right;
}

.modal-section
{
  font-weight: bold;
  text-decoration: underline;
  margin-left: revert !important;
}

.okrow
{
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.close
{
  // color: #aaa;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

